<div class="SiteCommon">
    <div class="text-center well">
        <div>
            <img id="imgRahul" src="~/Images/Founder.png" width="150px" height="200px"  style="border-radius:25px"/>
        </div>
        <div>
            <h2>Rahul Deshpande</h2>
        </div>
        <div>
            <h3>Founder</h3>
        </div>
    </div>
</div>
<script>
    $(document).ready(
        function () {
            $("#aboutus").addClass("active");
        }
    );
</script>